.option{
    color:red;
    font-weight: bolder;
    width: 20vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    background: white;
    height: 15vh;
    text-align: center; 
    padding-top: 6vh ;
    font-size: 10vh
}

.option.hit{
    color:green;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.12)
    
}