.inputField{
    display: none
}

.ui.basic.label.uploadZone{
    /* margin-left: 30% */
    background-color:gray;
}

.ui.segment.dropZone{
    text-align: center;
    border: 2px white solid;
    border-radius: 30px;
    height: 350px;
    background-color: /*rgba(0, 31, 82, 0.932)*/ rgba(255, 255, 255, 0.05);
}

.centerDiv{
    text-align: center;
}

.imagePreview{
    width: 700px;
    /*height: 300px;*/
    margin-top: 4%;
    margin-left: 10%; 
}

.actualImage{
    width: 100%;
    height: 100%
}

.GoBack{
    background-color:#001F52;
    margin-top: 41.5%;
}


.DragDrop{
    margin-top: 5%;
}
.DragAndDrop{
    color: white; 
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.Browse{
    background-color: #001F52;
    margin-top: 20%;
    margin-right: 75%;
}
.BrowseFiles{
    color: white; 
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.BackToMediaLounge{
    color: white; 
    font-family: 'Nunito', sans-serif;
    font-size: 15px; 
}

.URLmedialounge{
    color: white;
}

