@import url('https://fonts.googleapis.com/css?family=Nunito:200,900');

.mainHeader{
    background: white;
    /* height: 14em; */
    width: 100%
}



.titleMedialounge{
    color: #001F52; 
    font-size: 7vw;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-transform: uppercase;
    padding-left: 0.1vw;
}

.titleLufthansaGroup{
    color: #001F52; 
    font-size: 2vw;
    padding-right: 0.3vw;
    font-family: Arial, sans-serif;
    font-weight: 750;
    text-transform: uppercase;
}

/*Tag your images*/
.uploadYourPic{
     color: #001F52; 
    font-size: 1.75vw;
    font-family: 'Nunito', sans-serif; 
    font-weight: lighter;
    padding-left: 0.6em;
    padding-top: 1.7em;
}
/*
.mainLogo{
    width: 5em; 
    height: 2em;
    color: white;
}
*/
