 .mainheader{
  background: #001F52 !important;
}

.ui.basic.button.mainButton{
  margin-left:auto; 
  margin-right: auto;
  border: 2px solid #001F52;
  background: white !important;
  font-size: calc(8px + .5vw);
  padding: .78571429vw 1.5vh .78571429vw
  /* width: 15vw */
}

.mainHeaderText{
  color: white !important
}
.ui.loading.segment{
  height: 200px
}

.statusReport{
  position: fixed;
  text-align: center;
  height: 30vh;
  border-radius: 15px;
  width: 50vw; 
  left: 50%;
  top: 30%; 
  transform: translate(-50%, 0);
  z-index:10;
  
  background:rgb(99, 110, 114)
}

.blurrer{
  position: fixed;
  /* display: none; */
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(223, 230, 233,.9);
  z-index: 9;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.sweet-loading{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index:10;
  top:40vh
}

.blurrInfo{
font-size: 3vw;
font-weight: 900;
color: rgb(99, 110, 114);
position: fixed;
top: 55vh;
left: 50%;
transform: translate(-50%,0);
z-Index: 10;
margin-top: 2% 
}

.ui.grid{
  margin-left:0px !important;
  margin-right:0px!important
}
.row{
  margin-left:0px !important;
  margin-right: 0px !important
}
.body{
  background: linear-gradient(#dcdcdc, #B1B1B1) !important
} 
